In [1]:
import pandas as pd

In [2]:
all_cols_df = pd.read_csv('game_data/game_stats.csv')

In [3]:
import numpy as np
df = all_cols_df.iloc[:, 0:12]
df['Result'] = np.where(df['HomeScore'] > df['AwayScore'], 1, -1)


df.head()

,Date,KickOff,HomeTeam,AwayTeam,Venue,HomeScore,AwayScore,PlayOff Game?,HomeGoals,HomeBehinds,AwayGoals,AwayBehinds,Result
0,25-Apr-18,15:20,Collingwood,Essendon,MCG,101,52,NaN,14,17,7,10,1
1,24-Apr-18,19:25,Melbourne,Richmond,MCG,56,102,NaN,8,8,15,12,-1
2,22-Apr-18,16:40,Brisbane,Gold Coast,Gabba,71,76,NaN,10,11,11,10,-1
3,22-Apr-18,15:20,North Melbourne,Hawthorn,Etihad Stadium,98,70,NaN,14,14,11,4,1
4,21-Apr-18,18:10,Fremantle,Western Bulldogs,Simonds Stadium,108,54,NaN,16,12,8,6,1

In [4]:
import datetime as dt
teams = ['Collingwood', 'Essendon', 'Brisbane', 'Gold Coast', 'North Melbourne', 'Hawthorn', 'Fremantle', 'Western Bulldogs', 'Port Adelaide', 'Geelong', 'Carlton', 'West Coast', 'St Kilda', 'GWS Giants', 'Sydney', 'Adelaide', 'Melbourne', 'Richmond']

datetimes = []
dates, times = df['Date'], df['KickOff']

for i in range(len(dates)):
    date_str = str(dates[i]) + " " + str(times[i]) + ":00"
    date = dt.datetime.strptime(date_str, "%d-%b-%y %H:%M:%S")
    
    datetimes.append(date)

print(datetimes[-1])

df['Datetime'] = datetimes

df = df.iloc[:, range(2,14)]


df = df.set_index('Datetime')

df_17, df_18, df_16 = df['2017'], df['2018'], df['2016']

2009-06-19 19:40:00

In [5]:
len(df_18['AwayScore'])

45

In [6]:
scores_for, scores_against, num_games = dict(), dict(), dict()

for team in teams:
    scores_for[team], scores_against = [0,0], [0,0]    
    num_games[team] = 0
    
for team, away_team, home_g, home_b, away_g, away_b in zip(df_17['HomeTeam'], df_17['AwayTeam'], df_17['HomeGoals'], df_17['HomeBehinds'], df_17['AwayGoals'], df_17['AwayBehinds']):
    scores[team][0] += home_g + away_g
    scores[team][1] += home_b + away_b
    num_games[team] += 1
    num_games[away_team] += 1

In [7]:


team_df = pd.DataFrame()

team_df['GamesPlayed'] = pd.Series(num_games)
team_df['Scores'] = pd.Series(scores)

In [9]:
avgs = dict()
for team in teams:
    avgs[team] = [0,0]
    
for team, games, S in zip(team_df.index, team_df['GamesPlayed'], team_df['Scores']) :
    avgs[team][0] = S[0]/games
    avgs[team][1] = S[1]/games

    
team_df['Avgs'] = pd.Series(avgs)
team_df.head()

             GamesPlayed      Scores                                      Avgs
Adelaide              25  [371, 319]                            [14.84, 12.76]
Brisbane              22  [332, 285]  [15.090909090909092, 12.954545454545455]
Carlton               22  [273, 207]   [12.409090909090908, 9.409090909090908]
Collingwood           22  [272, 235]  [12.363636363636363, 10.681818181818182]
Essendon              23  [308, 282]   [13.391304347826088, 12.26086956521739]

In [ ]:
teams_df.index